/**
* Your CSS here
**/
body {
    font-family: 'Pacifico', cursive;
    color: white;
background-size: 100px 100px;
background-color: #232927;
background-size: 100px 100px;

background:
linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #ff64c7 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #ff64c7 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #ff64c7 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #ff64c7 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #ff64c7 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #ff64c7 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #ff64c7 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #ff64c7 7.5%, transparent 7.5%) 80px 73px;

background-size: 100px 100px;
    
}

h1 {
    font-family: 'Pacifico', cursive;
    text-shadow: -8px 13px 2px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #313333;
}

h2{
    text-shadow: -8px 13px 2px rgba(0, 0, 0, 0.5); 
    padding-left: 10px;
    padding-right: 10px;
    background-color: #313333;
}

ul{
    font-family: 'Shadows Into Light Two', cursive;
}
ol{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
}

em{
    font-family: 'Pacifico', cursive;
    text-shadow: -8px 13px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}
h2 {
    font-family: 'Pacifico', cursive;
    background-color: #313333;
}
.light  {
    font-family: 'Shadows Into Light Two', cursive;
}

strong{
    font-family: 'Shadows Into Light Two', cursive;
    font: normal 150%/1.5 sans-serif;
    background-color: #313333;
}

.dark{
    font: normal 150%/1.5 sans-serif;
}

iframe{
    max-width: 100%;
}

p{
    font-family: 'Shadows Into Light Two', cursive;
    padding-left: 10px;
    padding-right: 18px;
    background-color: #313333;
    font-size: 19px
}

    li{
        background-color: #313333;
        font-size: 19px;
    }

.gallery{
    display: flex;
}

.gallery img{
    flex-shrink: 0;
    margin-right: 10px;
    max-height: 250px;
}

.gallery-window{
    overflow: scroll;
    width: 100%;
}